body {
  font-family:sans-serif;
  background:#eeeeee;
  color:#333333;
}
#login {
  display:inline;
  margin-bottom:20px;
  text-align:center;
}

#can {
    width: 700px;
    border: 1px;
    solid #aaa; 
}

.floatright { 
              float: right;
              padding: 2%;
              margin-left: 2px;
              margin-top: 2px;
              width: 120px 
              height: 90px;
              }