body {
  font-family:sans-serif;
  background:#eeeeee;
  color:#333333;
}
#login {
  display:inline;
  margin-bottom:20px;
  text-align:center;
}

#can {
    width: 700px;  
    border: 1px;
    solid #aaa; 
}
